<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <!--FormsAuthentication-->
        <authentication mode="Forms">
          <forms loginUrl="LoggInn2.aspx" cookieless="UseCookies" requireSSL="true" />
        </authentication>
        <authorization>
          <allow users="*"/>
        </authorization>
    </system.web>
    
    <system.webServer>
        <!--RequireAuthentication Module-->
        <modules>
            <add name="AttributeBasedFormsAuthenticationModule" type="AttributeBasedFormsAuthenticationModule" preCondition="integratedMode"/>
        </modules>
    </system.webServer>
</configuration>
